html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.copyright {
    background: #eb622c;
}

.copyright p {
    color: #fff;
    text-align: center;
    padding: 25px 0px;
    font-size: 17px;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #000;
}

ul.social_icon {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 7px;
}

ul.social_icon li {
    float: left;
    height: 60px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
}

ul.social_icon li a {
    color: #fff;
    width: 40px;
    height: 40px;
    border: solid #fff 1px;
    float: left;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    font-size: 18px;
}

ul.social_icon li a:hover {
    background: #000;
    border: solid #000 1px;
    color: #ff8c00;
}

#calendar {
    max-width: 500px;
    margin: 0 auto 20px auto;
}

#month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

thead th {
    background-color: #f0f0f0;
}

.event-day {
    position: relative;
    cursor: pointer; 
}

